<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#2C394B" />

    <link rel="icon" href="./favicon.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>WAFFN!</title>
  </head>
  <body>
    <button id="skipLink" class="skip-link" tabindex="0">
      Menuju ke konten
    </button>
    <header>
      <nav class="navbar">
        <brand class="navbar-brand">
          <img src="../images/logo/waffn logo.png" alt="Logo brand" />
        </brand>
        <button id="hamburgerButton" class="navbar-toggler">☰</button>
        <div id="navigationDrawer" class="navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a id="navLink" href="#/home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="#/favorite" class="nav-link">Favorite</a>
            </li>
            <li class="nav-item">
              <a
                href="https://id.linkedin.com/in/shazi-awaludin-a7b90a191"
                target="_blank"
                rel="noopener noreferrer"
                class="nav-link"
                >About Us</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main id="mainContent" tabindex="0"></main>
    <footer>
      <p>Copyright © 2022 - Waffn</p>
    </footer>
  </body>
</html>
